<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h4>Nom</h4>
      <p><%= @contact.last_name.capitalize %></p>
    </div>
    <div class="col-xs-4">
      <h4>Prénom</h4>
      <p><%= @contact.first_name.capitalize %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <h4>Téléphone</h4>
      <% if @contact.number.nil? %>
        <p>Non renseigné</p>
      <% else %>
        <p><%= @contact.number %></p>
      <% end %>
    </div>
    <div class="col-xs-4">
      <h4>Mail</h4>
      <p><%= @contact.email %></p>
    </div>
    <div class="col-xs-4">
      <h4>Adresse</h4>
      <p><%= @contact.address %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <h4>État</h4>
      <p><%= @contact.state.category %></p>
    </div>
    <div class="col-xs-4">
      <h4>Note</h4>
      <p><%= @contact.grade %></p>
    </div>
  </div>
  <%= link_to "Modifier le contact", edit_contact_path(@contact), class:'btn-modifications' %>
  <%= link_to "Retourner sur l'index", contacts_path, class:'btn-cancel' %>
  <%= link_to "Supprimer le contact", contact_path(@contact), method: :delete, data: { confirm: "Êtes-vous sûr(e) de vouloir supprimer ce contact?" }, class:'btn-delete' %>
</div>
